
#add{
    position: absolute;
    bottom: 2%;
    right: 10%;
    border-radius: 0px 10px 10px 0px;
    border-radius: 10px;
    transition: 0.25s;
    background: #000000;
    color: #ffffff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    min-width: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    outline:none;
}