#calendar-wrap {
	font-family: Tahoma;
}

#calendar {
    margin-left:10%; 
	width: 80%;	
}
#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
#calendar li {
	display: block;
    float: left;
	width:14.342%;
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
}



@media(max-width: 768px) {
	#calendar .weekdays, #calendar .weekends_bg {
		display: none;
	}
	#calendar li {
		height: auto ;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
}